/* Animations, Keyframes and Preloaders
*******************************************************************************************************/
.preloader {
    vertical-align: middle;
    margin: 0 10px;
}

.ajax-animation {
    animation: ajax-animation 450ms ease-out 1;
    backface-visibility: hidden; /* Performance Improvement */
    transform: translate3d(0, 0, 0); /* Font Rendering FIX */
}

/* Pure CSS preloader */
.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    border: solid 1px #3498db;
    border-color: #3498db #3498db transparent transparent;
    border-width: 0 1px 1px;
    border-radius: 50%;
    animation: tomato-spinner 600ms linear infinite;
}

.spinner.spinner-small {
    width: 12px;
    height: 12px;
}

.spinner.spinner-large {
    width: 36px;
    height: 36px;
    border-width: 0 3px 3px;
    animation: tomato-spinner 1s linear infinite;
}

/* More Preloader(s) */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #3498db;
    position: absolute;
    z-index: 99;
    top: 58px;
    left: 0;
    width: 0;
    height: 2px;
    animation: nprogress-animation 5s ease-out 1;
    animation-fill-mode: forwards;
}

/* Animate Page Loads & Changes */
@keyframes ajax-animation {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes nprogress-animation {
    from { width: 15%; }
    to { width: 100%; }
}

@keyframes tomato-spinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}