/* Animations, Keyframes and Preloaders
*******************************************************************************************************/
/* Animate Page Loads & Changes */
@-webkit-keyframes ajax-animation {
	from { opacity: 0; filter: alpha(opacity=0); }
	to 	 { opacity: 1; filter: alpha(opacity=100); }
}
@keyframes ajax-animation {
	from { opacity: 0; filter: alpha(opacity=0); }
	to 	 { opacity: 1; filter: alpha(opacity=100); }
}

.preloader {
	vertical-align: middle;
	margin: 0 10px;
}

.ajax-animation {
	-webkit-animation: ajax-animation 450ms ease-out 1;
	animation:         ajax-animation 450ms ease-out 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;  /* Performance Improvement */
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);  /* Font Rendering FIX */
}

/* Pure CSS preloader */
.spinner {
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;

	border: solid 1px #3498DB;
	border-color: #3498DB #3498DB transparent transparent;
	border-width: 0 1px 1px;
	border-radius: 50%;

	-webkit-animation: tomato-spinner 600ms linear infinite;
	animation: tomato-spinner 600ms linear infinite;
}

.spinner.spinner-small {
	width: 12px;
	height: 12px;
}

.spinner.spinner-large {
	width: 36px;
	height: 36px;
	border-width: 0 3px 3px;

	-webkit-animation: tomato-spinner 1s linear infinite;
	animation: tomato-spinner 1s linear infinite;
}

/* More Preloader(s) */
#nprogress { pointer-events: none; -webkit-pointer-events: none; }
#nprogress .bar { 
	background: #3498DB;
	position: absolute;
	z-index: 99;
	top: 58px;
	left: 0;
	width: 0;
	height: 2px;
	-webkit-animation: nprogress-animation 5s ease-out 1;
	animation: nprogress-animation 5s ease-out 1;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes nprogress-animation { from { width: 15%; } to { width: 100%; } }
@keyframes nprogress-animation { from { width: 15%; } to { width: 100%; } }

@-webkit-keyframes tomato-spinner { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes tomato-spinner { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }