/* Header Design
*******************************************************************************************************/
.top-header {
    display:             block;
    height:              6rem;
    position:            fixed;
    top:                 0;
    left:                0;
    right:               0;
    background:          #fff;
    backface-visibility: hidden; /* Performance Improvement */
    transform:           translate3d(0, 0, 0); /* Font Rendering FIX */
    z-index:             3;
    box-shadow:          0 .2rem .4rem rgba(0, 0, 0, 0.08);
    user-select:         none;
}

.top-header .logo {
    display:     inline-block;
    float:       left;
    height:      6rem;
    width:       24rem;
    line-height: normal;
    background:  #3498db;
    text-align:  center;
    overflow:    hidden;
    transition:  width 600ms $overflow-anim;
}

.top-header .logo h1 {
    display:     inline-block;
    color:       #fff;
    font-weight: 500;
    font-size:   1.8rem;
    margin:      1.2rem 0 .4rem 0;
    padding:     0;
}

.top-header .logo h2 {
    color:       #fff;
    font-weight: normal;
    display:     block;
    font-size:   1.4rem;
    padding:     0;
    margin:      -.4rem 0 0;
    text-shadow: 0 .1rem 0 rgba(0, 0, 0, 0.15);
}

.top-header .logo svg {
    display:        none;
    margin:         -.8rem 0 0 -1rem;
    padding:        0;
    vertical-align: middle;
}

.top-header .left-container a {
    display:     inline-block;
    float:       left;
    height:      100%;
    width:       4rem;
    text-align:  center;
    line-height: 6rem;
    font-size:   1.4rem;
    font-weight: normal;
    color:       #526069;
}

.top-header .left-container a:hover {
    color: #000;
}

.top-header .links {
    position: relative;
}

.top-header > .links > ul > li > a {
    display:            inline-block;
    color:              #526069;
    padding:            0 2.2rem;
    height:             6rem;
    line-height:        6rem;
    transition:         all 150ms ease;
    -webkit-transition: all 150ms ease;
}

.top-header > .links > ul > li > a:hover,
.top-header > .links > ul > li a.active {
    color:      #000;
    background: #fafafa;
}

.top-header .links > ul {
    list-style: none;
}

.top-header .links > ul > li {
    margin:  0 0 0 -.4rem;
    padding: 0;
    display: inline-block;
}

.top-header .links li a i {
    padding-left:   .2rem;
    font-size:      1.6rem;
    margin-top:     -.2rem;
    vertical-align: middle;
}

/* System Info Box
*******************************************************************************************************/
.system-ui {
    position:      absolute;
    background:    #fff;
    padding:       0;
    width:         35rem;
    top:           7.2rem;
    right:         1rem;
    border-radius: .5rem;
    display:       none;
    z-index:       1;
    border:        .1rem solid #e4eaec;
    box-shadow:    0 .3rem 1.2rem rgba(0, 0, 0, .05);

    &::after, &::before {
        display:             block;
        content:             "";
        position:            absolute;
        border:              .8rem solid transparent;
        border-bottom-color: #fff;
        top:                 -1.4rem;
        right:               4rem;
    }

    &::before {
        top:                 -1.5rem;
        border-bottom-color: #e4eaec;
    }
}

.system-ui .router-name {
    display:                 block;
    font-size:               1.4rem;
    font-weight:             500;
    color:                   #656565;
    border-bottom:           .1rem solid #e4eaec;
    padding:                 1.2rem 1.8rem;
    border-top-right-radius: .3rem;
    border-top-left-radius:  .3rem;
}

.system-ui .router-name small {
    margin-top: .2rem
}

.system-ui .router-control {
    text-align: center;
    padding:    1.5rem 1.5rem;
}

.system-ui .inner-container {
    margin:        0;
    padding:       .5rem 1.8rem;
    border-bottom: .1rem solid #e4eaec;
}

.system-ui .inner-container .desc {
    display:        inline-block;
    vertical-align: middle;
    text-align:     right;
    padding:        .5rem 1.5rem .5rem 0;
    width:          5rem;
    font-weight:    500;
}

.system-ui .inner-container .value {
    display:        inline-block;
    vertical-align: middle;
    width:          24rem;
    padding:        .5rem 0;
}

/* Content Design
*******************************************************************************************************/
#wrapper > .container {
    display:             block;
    position:            absolute;
    left:                0;
    right:               0;
    bottom:              0;
    top:                 6rem;
    padding:             2rem 4rem;
    height:              auto;
    overflow-y:          auto;
    overflow-x:          visible;
    z-index:             1;
    margin-left:         24rem;
    transition:          margin 600ms cubic-bezier(0.680, -0.550, 0.265, 1.550) 150ms;
    backface-visibility: hidden; /* Performance Improvement */
    transform:           translate3d(0, 0, 0); /* Font Rendering FIX */
}

#wrapper > .container .debug {
    font-size:     1.2rem;
    background:    #fafafa;
    border:        .1rem solid #f5f5f5;
    padding:       1rem;
    border-radius: .2rem;
}

#wrapper > .container:after {
    content: "";
    display: table;
    clear:   both;
}

#wrapper .container ul {
    margin: 1rem 1.5rem;
}

#wrapper .container ul li {
    margin: 0 2rem;
}

#wrapper > .container.collapsed {
    margin-left: 6rem;
}

#wrapper > .container .ajaxwrap {
    min-width:  72rem;
    min-height: 100%;
}

#wrapper > .container .container-center {
    position:    absolute;
    top:         25%;
    left:        50%;
    width:       35rem;
    margin-left: -17.5rem;
    text-align:  center;
}

// Generate scrollbars for content wrapper
@include webkit-scrollbar(#babdbe, 10px, 10px, '#wrapper > .container');

.action-area {
    float:   right;
    display: inline-block;
}

/* Fluid boxes placement */
.fluid-grid {
    column-count: 1;
    column-gap:   unset;
    column-width: auto;
    margin:       0 0 1rem;
}

.fluid-grid .box {
    display:      block;
    margin:       0 0 1.5rem;
    break-inside: avoid;
}

.fluid-grid.x3 {
    column-count: 2;
    column-gap:   1.5rem;
    column-width: auto;
}

/* Boxes design */
.box {
    display:        block;
    padding:        0;
    margin:         0 0 1.5rem;
    background:     #fff;
    vertical-align: top;
    border:         .1rem solid transparent;
    border-radius:  .5rem;
    box-shadow:     0 .1rem .1rem rgba(0, 0, 0, .05);
}

.box .heading {
    display:        block;
    font-size:      1.6rem;
    font-weight:    500;
    line-height:    normal;
    color:          #656565;
    padding:        1.5rem 1rem 1.5rem 2rem;
    vertical-align: middle;
}

.box .heading small {
    margin-left: .5rem;
}

.box .heading a {
    color:         #838c91;
    margin:        -.8rem 0 0 0;
    padding:       .8rem 1.2rem;
    border-radius: 50%;
    transition:    color 150ms ease-out;
}

.box .heading a:hover {
    color: #3498db;
}

.box .content {
    padding: 0 2rem 1.5rem;
    display: block;
}

.box .content:after {
    display: table;
    content: "";
    clear:   both;
}

.box.small {
    max-width: 96rem;
}

.box.box-fluid {
    width:         auto !important;
    align-content: left;
    display:       block;
}

.box h2, .box h3, .box h4 {
    padding: 0;
    margin:  .8rem 0;
}

/* New Ethernet States 
*******************************************************************************************************/
#ethPorts {
    position:  relative;
    display:   table;
    padding:   3rem 1rem;
    width:     100%;
    font-size: 1.2rem;
}

#ethPorts .title {
    position:   absolute;
    display:    block;
    width:      6.4rem;
    top:        1rem;
    text-align: center;
}

#ethPorts .speed {
    position:   absolute;
    display:    block;
    width:      6.4rem;
    bottom:     .8rem;
    text-align: center;
}

#ethPorts .eth {
    display: table-cell;
    z-index: 15;
    width:   auto;
    padding: 0 1rem;
    height:  4.8rem;
}

#ethPorts .eth.off {
    background: url('/img/ethernet.x.svg') 2rem center no-repeat;
}

#ethPorts .eth.on {
    background: url('/img/ethernet.svg') 2rem center no-repeat;
}

#ethPorts .eth.wan {
    width: 30%;
}

/* Style Refresh timers */
.tomato-refresh {
    float:  right;
    margin: .5rem 0 1rem 1rem;
}

.tomato-refresh .spinner {
    margin-right:   1rem;
    vertical-align: middle;
}

#refresh-spinner {
    vertical-align: middle;
    margin-top:     -.4rem;
}

/* Unresponsive interface problem
*******************************************************************************************************/
.body-overwrite {
    display:    block;
    position:   absolute;
    left:       0;
    top:        0;
    right:      0;
    bottom:     0;
    background: #fff;
    background: rgba(255, 255, 255, 0.94);
    z-index:    999;

    .body-overwrite-text {
        display:     block;
        width:       40rem;
        position:    absolute;
        top:         30%;
        left:        50%;
        margin-left: -20rem;
    }

}

/* Upgrade router firmware page
*******************************************************************************************************/
#afu-progress {
    display:    block;
    position:   fixed;
    top:        0;
    right:      0;
    left:       0;
    bottom:     0;
    z-index:    20;
    background: #fff;
    color:      #5a5a5a;
    opacity:    0;
    transition: opacity 250ms ease-out;
}

#afu-progress .text-container {
    position:   absolute;
    display:    block;
    text-align: center;
    font-size:  1.4rem;
    width:      100%;
    height:     15rem;
    top:        30%;
    margin-top: -7.5rem;
    transform:  scale(0.2);
    transition: all 350ms ease-out;
}

#afu-progress.active {
    opacity: 1;
}

#afu-progress.active .text-container {
    transform: scale(1);
    top:       40%;
}