/* Buttons (using same prefix as bootstrap)
*******************************************************************************************************/
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    padding: 8px 16px;
    margin: 0;
    font-size: 10pt;
    font-weight: normal;
    line-height: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline-style: none;
    outline: none;
    color: #ffffff !important;
    background: #536270;
    transition: background-color 150ms ease, color 150ms ease;
    -webkit-transition: background-color 150ms ease, color 150ms ease;
    border-radius: 3px;
    border: 1px solid transparent;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #617486;
    color: #fff;
}

.btn.disabled,
.btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    box-shadow: none;
    -webkit-box-shadow: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.btn.btn-primary {
    color: #fff !important;
    background-color: #51aded;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    color: #fff !important;
    background: #60b7f4;
}

.btn.btn-danger {
    color: #fff !important;
    background: #ed5153;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus {
    background: #ff5355;
}

.btn.btn-success {
    color: #fff !important;
    background: #67ba2f;
}

.btn.btn-success:hover,
.btn.btn-success:focus {
    background: #6cc92e;
}

.btn.btn-link {
    color: #919293 !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    border: 0;
    padding: 8px 10px;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    color: #fff !important;
}

/* BTN Tabs */
.btn.btn-tab {
    color: #535353 !important;
    background: #fafafa;
    box-shadow: none;
    -webkit-box-shadow: none;
    line-height: 1.2;
    border: 1px solid #f0f0f0;
    border-width: 1px 0 0 1px;
}

.btn.btn-tab:hover,
.btn.btn-tab:focus,
.btn.btn-tab.active {
    background: #f0f0f0;
}

/* Other btn styles */
.btn b { color: #fff !important; }

button.btn { height: 35px; font-family: $font-family; font-weight: 400 !important; vertical-align: middle; outline: 0; outline-style: none; }

.btn-small { font-size: 8pt; font-weight: normal; padding: 4px 10px !important; vertical-align: middle; }

.btn-group {
    white-space: no-wrap;
    font-size: 0px;
}

.btn-group > .btn {
    margin: 0 -1px 0 0;
    border-radius: 0;
}

.btn-group > .btn:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group > .btn:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
