/* Dropdowns
*******************************************************************************************************/
ul.dropdowns {
    list-style: none;
}

ul.dropdowns > li {
    position: relative;
    display:  inline-block;
}

ul.dropdowns > li ul {
    display:       none;
    position:      absolute;
    left:          -1rem;
    z-index:       40;
    width:         20rem;
    background:    #fff;
    border-radius: .2rem;
    overflow-y:    hidden;
    overflow-x:    auto;
}

ul.dropdowns > li ul li {
    display:     block;
    line-height: normal;
    margin:      0;
}

ul.dropdowns > li ul li a {
    display: block;
    padding: .5rem 1rem;
}

.dropdowns li:hover > ul {
    display: block;
}

.dropdowns li ul a:hover {
    background: #f0f0f0;
}
