/* Form, label, input, textarea, etc...
*******************************************************************************************************/
label {
    display:        inline-block;
    color:          #656565;
    cursor:         pointer;
    vertical-align: baseline;
}

label.control-label {
    text-align:  right;
    padding-top: 0.9rem;
}

label.control-left-label {
    text-align:  left;
    padding-top: 1rem;
}

fieldset {
    padding-bottom: 0.9rem;
    padding-top:    0.4rem;
    border:         0;
    border-bottom:  0.1rem dashed #eee;
    margin-bottom:  0.5rem;
    margin-left:    -1.5rem;
    margin-right:   -1.5rem;
}

fieldset legend {
    display:       block;
    width:         100%;
    padding:       0;
    margin-bottom: 2rem;
    font-size:     2.1rem;
    line-height:   inherit;
    color:         #919292;
    border:        0;
    border-bottom: .1rem solid #e5e5e5;
}

fieldset:last-child {
    border-bottom: 0 none;
}

fieldset h5 {
    margin-top:    2rem;
    margin-bottom: 1rem;
}

fieldset .help-block {
    display:        inline-block;
    vertical-align: middle;
    margin:         -.4rem .5rem 0;
    color:          #a5a5a5;
}

fieldset .text-block {
    padding-top: .7rem;
}

input, select, textarea {
    color:              #76838f;
    padding:            .6rem 1rem;
    margin:             0;
    height:             3.4rem;
    line-height:        normal;
    font-size:          1.4rem;
    font-family:        "Segoe UI", "Roboto", sans-serif, Helvetica, Arial, sans-serif;
    border:             .1rem solid #e4eaec;
    background-color:   #fff;
    transition:         color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    -webkit-transition: color 150ms ease, border-color 150ms ease, opacity 150ms ease;
    outline-style:      none;
    vertical-align:     baseline;
    border-radius:      .3rem;
}

input:hover, select:hover, textarea:hover {
    border-color: #d1e5f2;
}

input:focus, select:focus, textarea:focus {
    color:        #000;
    border-color: #3498db;
}

input:disabled, select:disabled, textarea:disabled {
    opacity: 0.65;
    filter:  alpha(opacity=65);
    cursor:  not-allowed;
    color:   #7c7c7c;
    border:  .1rem solid #f0f0f0;
}

/* Some quick fixes */
fieldset .help-block .btn {
    margin-top: .1rem;
}

form {
    margin-bottom: 2rem;
}

textarea {
    resize: vertical !important;
}

select, select option {
    cursor: pointer;
}

.c-checkbox,
.c-radio {
    display: inline-block;
    margin:  .7rem .2rem .5rem;
}

.c-checkbox *,
.c-radio * {
    cursor: pointer;
}

.c-checkbox input,
.c-radio input {
    opacity:     0;
    filter:      alpha(opacity=0);
    height:      auto !important;
    position:    absolute;
    margin-left: 0 !important;
}

.c-checkbox span,
.c-radio span {
    position:       relative;
    display:        inline-block;
    width:          2.2rem;
    height:         2.2rem;
    border-radius:  0.2rem;
    border:         .1rem solid #e4eaec;
    background:     #fff;
    transition:     all 250ms ease;
    vertical-align: middle;
    margin-right:   .2rem;
}

.c-checkbox:hover span,
.c-checkbox input:hover + span,
.c-radio:hover span,
.c-radio input:hover + span {
    border-color: #3498db;
    background:   #fff;
}

/* override for radio */
.c-radio span {
    border-radius: 50%;
}

/* the icon */
.c-checkbox span:before,
.c-radio span:before {
    color:          #fff;
    position:       absolute;
    font-family:    "advancedtomato" !important;
    content:        "\e006";
    top:            0;
    left:           0;
    right:          0;
    bottom:         0;
    opacity:        0;
    text-align:     center !important;
    font-size:      1.2rem;
    line-height:    2rem;
    vertical-align: middle;
    transform:      scale(0);
    transition:     all 450ms cubic-bezier(0.680, -0.750, 0.265, 1.550) 50ms;
}

/* Checked state */
input[type=checkbox]:checked + span:before,
input[type=radio]:checked + span:before {
    color:     #fff;
    opacity:   1;
    transform: scale(1);
}

input[type=checkbox]:checked + span,
input[type=radio]:checked + span {
    border-color:     #3498db;
    background-color: #3498db;
}

input[type=radio]:checked + span {
    background-color: transparent !important;
}

/* override for radio */
input[type=radio]:checked + span {
    background-color: #fff;
}

input[type=radio]:checked + span:before {
    color: #3498db;
}

/* Disable state */
input[type=checkbox]:disabled + span,
input[type=radio]:disabled + span {
    pointer-events:   none;
    border-color:     #dddddd !important;
    background-color: #dddddd !important;
}

/* override for radio */
input[type=radio]:disabled + span {
    pointer-events:   none;
    background-color: #fff !important;
}

input[type=radio]:disabled + span:before {
    color: #dddddd;
}

/* Input appends */
.input-append {
    line-height:    0;
    vertical-align: middle;
    margin:         .4rem 0;
}

.input-append .btn {
    margin:                    0;
    vertical-align:            middle;
    border-top-left-radius:    0;
    border-bottom-left-radius: 0;
}

.input-append input,
.input-append select {
    vertical-align:             middle;
    padding:                    .8rem 1rem;
    margin:                     0 -.4rem 0 0;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
}

/* custom upload elements */
.customfile {
    vertical-align: middle;
    display:        inline-block;
    cursor:         pointer;
    overflow:       hidden;
    position:       relative;
    transition:     none;
}

.customfile-input {
    position:   absolute;
    height:     10rem;
    cursor:     pointer;
    background: transparent;
    border:     0;
    opacity:    0;
    z-index:    999;
    transition: none;
}

.customfile-disabled {
    pointer-events: none;
    opacity:        .5;
    filter:         alpha(opacity=50);
    cursor:         default;
}

.customfile-text {
    display:                   block;
    font-size:                 1.4rem;
    line-height:               normal;
    height:                    3.4rem;
    float:                     left;
    overflow:                  hidden;
    width:                     28rem;
    margin:                    0 -.1rem 0 0;
    color:                     #313131;
    font-style:                normal;
    padding:                   .8rem 1.2rem;
    white-space:               nowrap;
    background:                #fff;
    border:                    .1rem solid #e4eaec;
    border-top-left-radius:    .3rem;
    border-bottom-left-radius: .3rem;
    transition:                border-color 150ms ease;
}

.customfile .browse {
    float:                     left;
    height:                    3.4rem;
    line-height:               1.7rem;
    margin:                    0;
    border-top-left-radius:    0;
    border-bottom-left-radius: 0;
}

.customfile-hover .customfile-text {
    border-color: #60b7f4;
}

.customfile-hover .browse {
    background: #60b7f4;
}

/* Fix refresh timer append */
.tomato-refresh select {
    padding:        .7rem 1rem;
    width:          15rem;
    vertical-align: middle;
}