.tooltip {
    position:    absolute;
    z-index:     99;
    display:     block;
    visibility:  visible;
    font-size:   1.1rem;
    line-height: 1.4;
    opacity:     0;
    filter:      alpha(opacity=0);
}

.tooltip.in {
    opacity: 0.9;
    filter:  alpha(opacity=90);
}

.tooltip.top {
    margin-top: -.3rem;
    padding:    .5rem 0;
}

.tooltip.right {
    margin-left: .3rem;
    padding:     0 .5rem;
}

.tooltip.bottom {
    margin-top: .3rem;
    padding:    .5rem 0;
}

.tooltip.left {
    margin-left: -.3rem;
    padding:     0 .5rem;
}

.tooltip-inner {
    max-width:        30rem;
    padding:          .3rem .8rem;
    font-weight:      normal;
    color:            #ffffff;
    text-align:       center;
    text-decoration:  none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius:    .4rem;
}

.tooltip-arrow {
    position:     absolute;
    width:        0;
    height:       0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom:           0;
    left:             50%;
    margin-left:      -.5rem;
    border-width:     .5rem .5rem 0;
    border-top-color: #000000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.top-left .tooltip-arrow {
    bottom:           0;
    left:             .5rem;
    border-width:     .5rem .5rem 0;
    border-top-color: #000000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.top-right .tooltip-arrow {
    bottom:           0;
    right:            .5rem;
    border-width:     .5rem .5rem 0;
    border-top-color: #000000;
    border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltip.right .tooltip-arrow {
    top:                50%;
    left:               0;
    margin-top:         -.5rem;
    border-width:       .5rem .5rem .5rem 0;
    border-right-color: #000000;
    border-right-color: rgba(0, 0, 0, 0.8);
}

.tooltip.left .tooltip-arrow {
    top:               50%;
    right:             0;
    margin-top:        -.5rem;
    border-width:      .5rem 0 .5rem .5rem;
    border-left-color: #000000;
    border-left-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom .tooltip-arrow {
    top:                 0;
    left:                50%;
    margin-left:         -.5rem;
    border-width:        0 .5rem .5rem;
    border-bottom-color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom-left .tooltip-arrow {
    top:                 0;
    left:                .5rem;
    border-width:        0 .5rem .5rem;
    border-bottom-color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltip.bottom-right .tooltip-arrow {
    top:                 0;
    right:               .5rem;
    border-width:        0 .5rem .5rem;
    border-bottom-color: #000000;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}

.fade {
    opacity:            0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition:      opacity 0.15s linear;
    transition:         opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}
